.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 727px;
}

.u-section-1 .u-blog-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  min-height: 607px;
  height: auto;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(50% - 11px);
  grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  grid-gap: 22px 22px;
}

.u-section-1 .u-repeater-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-1 .u-text-1 {
  margin: 9px 106px 0 10px;
}

.u-section-1 .u-text-2 {
  margin: 19px 217px 0 10px;
}

.u-section-1 .u-btn-1 {
  font-size: 1.25rem;
  margin: 20px auto 0 10px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-1 .u-text-3 {
  margin: 9px 106px 0 10px;
}

.u-section-1 .u-text-4 {
  margin: 19px 217px 0 10px;
}

.u-section-1 .u-btn-2 {
  font-size: 1.25rem;
  margin: 20px auto 0 10px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 29px;
}

.u-section-1 .u-text-5 {
  margin: 9px 106px 0 10px;
}

.u-section-1 .u-text-6 {
  margin: 19px 217px 0 10px;
}

.u-section-1 .u-btn-3 {
  font-size: 1.25rem;
  margin: 20px auto 0 10px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 29px;
}

.u-section-1 .u-text-7 {
  margin: 9px 106px 0 10px;
}

.u-section-1 .u-text-8 {
  margin: 19px 217px 0 10px;
}

.u-section-1 .u-btn-4 {
  font-size: 1.25rem;
  margin: 20px auto 0 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-blog-1 {
    min-height: 501px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11px));
  }

  .u-section-1 .u-text-1 {
    margin-top: 73px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 27px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 183px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 27px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 183px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 27px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 183px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 27px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 183px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-blog-1 {
    min-height: 1370px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-1 {
    margin-top: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 309px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 309px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 309px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 309px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-blog-1 {
    min-height: 1947px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 509px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-blog-1 {
    margin-top: 47px;
    min-height: 2577px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 351px;
  }
}