.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 917px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 257px;
  margin: 96px auto 0;
}

.u-section-1 .u-accordion-1 {
  width: 713px;
  margin: 20px auto 0;
}

.u-section-1 .u-accordion-link-1 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  padding: 15px 30px;
}

.u-section-1 .u-icon-1 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-top: 0;
  font-size: 1rem;
  font-style: normal;
}

.u-section-1 .u-accordion-link-2 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  padding: 15px 30px;
}

.u-section-1 .u-icon-2 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin-top: 0;
}

.u-section-1 .u-accordion-link-3 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  padding: 15px 30px;
}

.u-section-1 .u-icon-3 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  margin-top: 0;
}

.u-section-1 .u-accordion-link-4 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  padding: 15px 30px;
}

.u-section-1 .u-icon-4 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-4 {
  min-height: 180px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  margin: 0;
}

.u-section-1 .u-text-5 {
  font-size: 0.875rem;
  width: 321px;
  margin: 20px auto 60px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 903px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 243px;
  }

  .u-section-1 .u-accordion-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 813px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 153px;
  }

  .u-section-1 .u-accordion-1 {
    width: 340px;
  }
}